<center>
<body style='background-color: black'>
<h2>Hello, Marty</h2>
<style> 
h2 {color:ForestGreen;}
body {color:White;}
</style>

<form action="/login" method="post">
<label>Username:</label>
<input type="text" name="username"/><br />
<label>Password:</label>
<input type="password" name="password"><br />
<button type="submit">Login</button><br />
</form>

<a href="/register">Register</a>
</center>