<head>
<title>d@R|< wEb</title>
</head>
<body style='background-color: black'>
<h1>Welcome to the dark web</h1>
<style>
body {color:white;
	text-align: center;
}
button {
	text-align: right
}
</style>
<ol>
<li><a href="">r49wimf201dcneu239Dskcn39Afjnc</a></li><br/>
<li><a href="http://www.military.com/equipment/weapons	">Black Market</a></li>
<li><a href="/logout">Logout</a></li>
</ol>
<button type="button"><a href='withdraw'>Withdraw</a></button><br/>
<button type='button'><a href='deposit'>Deposit</a></button>
</body>
