 <form method='post' action="/register">
  <div class="container">
    <input type="text" placeholder="Enter Username" name="username" required>
    <label><b>Username</b></label></br>
    <input type="password" placeholder="Enter Password" name="password" required>
    <label><b>Password</b></label></br>
      <button type="button"  class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Register</button>
    </div>
  </div>
</form> 

